$min-width: 700px;
$max-width: 1200px;
$width-tablet: 600px;
$width-desktop: 900px;

.nav {

  background-color: #ffffff11;
  height: 3rem;
  padding: .25rem 1rem;
  position: fixed;
  top: 0;
  // left: 0;
  // right: 0;
  width: 100%;
  min-width: $min-width;
  z-index: 10;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $max-width;
    margin: 0 auto;
  }

  &-logo {
    height: 2.5rem;
  }

  &-btn {
    // display: none;
    border: 1px solid #ccc;
    background-color: transparent;
    height: 2rem;
    width: 2.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px #cccccc55;
    
    &:hover {
      border: 1px solid #fff;
      box-shadow: 0 0 5px #cccccccc;
    }

    &-lines {
      stroke: #ccc;
      stroke-width: 2px;
      height: 1.25rem;
      width: 1.8rem;
    }

    &:hover &-lines {
      stroke: #fff;
    }
  }

  &-links {
    // border: 1px solid red;
    display: block;
    position: fixed;
    top: 3rem;
    right: 0;
  }

}

@media (min-width: $width-tablet){
  .nav {
    background-color: blue;

    &-btn {
      display: none;
    }

    &-links {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      border: 1px solid red;
      max-width: 25rem;
      position: initial;
  
      &-item {
        // border: 1px solid green;
      }
      &-link {
        text-decoration: none;
        color: #ccc;
  
        &:hover {
          color: #fff;
        }
      }
    }  
  }
}